<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

   <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" >
    <link href="/sweetsis.css" type="text/css" rel="stylesheet">
    <title>About</title>
    <link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Cagliostro&family=Roboto&display=swap" rel="stylesheet">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
 	<nav
	class="navbar navbar-expand-md navbar-default navbar-light bg-light">
	<a class="navbar-brand" href="/">Sweet Sisters Baking</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarsExampleDefault"
		aria-controls="navbarsExampleDefault" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="dropdown01"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Find
					By Category</a>
				<div class="dropdown-menu" aria-labelledby="dropdown01">
					<a class="dropdown-item" href="/">All</a>
					<!--/*@thymesVar id="categories" type="java.util.List<com.example.demo.model.Category>"*/-->
					<a class="dropdown-item" th:each="category : ${categories}"
						th:text="${category}" th:href="@{/filter(category=${category})}"></a>
				</div></li>
			</ul>
			
		<a class="navbar-brand" href="/about">About</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarsExampleDefault"
		aria-controls="navbarsExampleDefault" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>	
		
		<ul class="nav navbar-nav ml-auto">
			<!--/*@thymesVar id="loggedInUser" type="com.example.demo.model.User"*/-->
			<th:block th:if="${loggedInUser != null}">
				<li class="nav-item active nav-link"
					th:text="${loggedInUser.username}"></li>
				<li class="nav-item active">
					<!--/*@thymesVar id="cart" type="java.util.Map<com.example.demo.model.Product, java.lang.Integer>"*/-->
					<a class="nav-link" href="/cart"
					th:with="size=${#aggregates.sum(cart.values())}"> Cart <span
						th:if="${size != null}" th:text="| (${size})|"></span>
				</a>
				</li>
				<li class="nav-item active" th:unless="${loggedInUser == null}">
					<a class="nav-link" href="/logout">Sign Out</a>
				</li>
			</th:block>
			<li class="nav-item active" th:if="${loggedInUser == null}"><a
				class="nav-link" href="/login">Sign In/Up</a></li>

		</ul>
	</div>
</nav>

		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 col-sm-12">
					<img src="https://scontent-atl3-2.xx.fbcdn.net/v/t1.0-9/67318968_10156708683343893_1357936928053264384_n.jpg?_nc_cat=110&ccb=2&_nc_sid=825194&_nc_ohc=UgWppsPr_okAX8v-5Ju&_nc_ht=scontent-atl3-2.xx&oh=e286142f1d17f623ffc13f1378da6e00&oe=5FF9A007" alt="about us!" width="450" height="600">
				</div>
				<div class="col-lg-5 col-md-12 col-sm-12">	
					<h2>Sweet Sisters: Connecting home bakers to treat eaters in a disconnected world.</h2>
					<p> There is nothing like taking a bite of home-baked deliciousness to make you feel cared for. 
					And there is nothing like 2020 to make you feel uncared for. 
					Cameron and Allison's favorite part of the holidays has always been baking their signature macarons for all of their cousins who live out of state. 
					It just doesn't feel like Christmas to them without spending a whole day baking. 
					In fact, Allison loves baking macarons so much that she aced her science fair project comparing which almond flour makes the most delicious treat. 
					But of course in 2020, Cameron and Allison have to show their love to their cousins by staying away. 
					This holiday season, families across the world are without their own traditional holiday treats. 
					Cameron and Allison wanted to connect these home bakers with local treat eaters, and Sweet Sisters was born!</p>
				</div>
			</div>
		</div>
 		<div th:replace="fragments/footer" ></div>
	</body>