<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

   <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" >
    <link href="/sweetsis.css" type="text/css" rel="stylesheet">
    <title>About</title>
    <link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Cagliostro&family=Roboto&display=swap" rel="stylesheet">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
<div th:replace="fragments/navbar"></div>

		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 col-sm-12">
					<img src="https://images.unsplash.com/photo-1605433247501-698725862cea?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80" alt="about us!" class="aboutphoto" width="450" height="300">
				</div>
				<div class="col-lg-5 col-md-12 col-sm-12">	
					<h2>Sweet Sisters: Connecting home bakers to treat eaters in a disconnected world.</h2>
					<p> There is nothing like taking a bite of home-baked deliciousness to make you feel cared for. 
					And there is nothing like 2020 to make you feel uncared for. 
					Cameron and Allison's favorite part of the holidays has always been baking their signature macarons for all of their cousins who live out of state. 
					It just doesn't feel like Christmas to them without spending a whole day baking. 
					In fact, Allison loves baking macarons so much that she aced her science fair project comparing which almond flour makes the most delicious treat. 
					But of course in 2020, Cameron and Allison have to show their love to their cousins by staying away. 
					This holiday season, families across the world are without their own traditional holiday treats. 
					Cameron and Allison wanted to connect these home bakers with local treat eaters, and Sweet Sisters was born!</p>
				</div>
			</div>
		</div>
 		<div th:replace="fragments/footer" ></div>
	</body>